<div class="container">
  <div class="row">
    <div class="col-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br>
      <div *ngIf="onlyOdd===false">
        <ul class="list-group">
          <li class="list-group-item"
              *ngFor="let number of evenNumber"
              [ngClass]="{odd: number % 2 !== 0}"
              [ngStyle]="{backgroundColor: number % 2 !== 0 ? 'yellow' : 'transparent'}">
            {{ number }}
          </li>
        </ul>
      </div>
      <div *ngIf="onlyOdd===true">
        <ul class="list-group">
          <li class="list-group-item"
              *ngFor="let number of oddNumber"
              [ngClass]="{odd: number % 2 !== 0}"
              [ngStyle]="{backgroundColor: number % 2 !== 0 ? 'purple' : 'transparent'}">
            {{ number }}
          </li>
        </ul>
      </div>
      <p appBasicHighlight>Style me with basic highlight..!!</p>
      <p appBetterHighlight>Style me with better highlight..!!</p>
    </div>
  </div>
</div>
