<div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
    ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-12">
      <button (click)="destroyfunc()" class="btn btn-outline-danger">Destroy First Component.</button>
      <app-server-element *ngFor="let serverelement of serverElements"
      [srcElement]="serverelement">
        <p #contentParagraph>
          <strong *ngIf="serverelement.type === 'server'" style="color: red">{{serverelement.content}}</strong>
          <em *ngIf="serverelement.type === 'blueprint'">{{serverelement.content}}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
